<template>
  <v-list class="pa-1">
    <v-list-item tag="div">
      <v-list-item-action v-if="$vuetify.breakpoint.xsOnly">
        <v-btn
          icon
          @click.stop="() => $store.commit('SET_RIGHT_DRAWER_STATE', false)"
        >
          <v-icon>chevron_right</v-icon>
        </v-btn>
      </v-list-item-action>
      <v-list-item-avatar>
        <v-icon>list</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>Bezeichnungen</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <router-view
      v-for="(element, index) in $store.getters.appState.pinList"
      :key="element.position"
      :label-index="index"
      :element="element"
      name="elementLabel"
    />
  </v-list>
</template>
