<template>
  <v-col cols="12">
    <v-row justify="center">
      <v-icon color="white">
        info
      </v-icon>
      <span>Bitte klicke auf einen Pin um die entsprechende Bezeichnung sichtbar zu machen.</span>
    </v-row>
  </v-col>
</template>
