<template>
  <v-app-bar
    app
    color="primary"
    clipped-left
    clipped-right
  >
    <v-btn
      v-if="$vuetify.breakpoint.mdAndDown"
      icon
      @click.stop="$store.commit('SET_COCKPIT_STATE', true)"
    >
      <v-icon>explore</v-icon>
    </v-btn>
    <v-toolbar-title>Online Tutorial Anatomie </v-toolbar-title>
    <v-spacer />
    <v-btn
      v-if="$vuetify.breakpoint.xsOnly"
      icon
      @click.stop="$store.commit('SET_RIGHT_DRAWER_STATE', true)"
    >
      <v-icon>list</v-icon>
    </v-btn>
  </v-app-bar>
</template>
